.matCard {
    max-width: auto;
}
.matCardContent {
    padding: 5px 20px;
    margin-bottom: 0px;
}
.matButtonToggleGroup {
    margin: 10px;
}
.matCardActions {
    padding: 20px;
}
.matCardActions-icon {
    margin-right: 10px;
}
.matCardButtonActionText {
    vertical-align: middle;
}