<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <!-- <form class="login-form" fxFlex  > -->
        <div class="login-form">
            <div class="text-center">
                <h2 class="app-name">Tatva IPL 2019</h2>
            </div>
        
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="warn" class="w-100" (click)="auth.googleLogin()">Login with Google</button>
                </div>
            </div>
        </div>
    </div>
</div>