table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

/* .matCardContent {
    padding: 5px 20px;
    margin-bottom: 0px;
}
.matButtonToggleGroup {
    margin: 10px;
}
.matCardActions {
    padding: 20px;
}
.matCardActions-icon {
    margin-right: 10px;
}
.matCardButtonActionText {
    vertical-align: middle;
} */